script(src='/js/falcor.browser.js')
script(src='/js/jquery.js')
script(src='/js/bootstrap.js')
script(src='/js/angular.js')
script(src='/js/angular-resource.js')
script(src='/js/angular-route.js')
script(src='/js/toastr.js')
script(src='/js/app/app.js')
script(src='/js/app/exam/examFactory.js')
script(src='/js/app/book/bookFactory.js')
script(src='/js/app/main/mainCtrl.js')
script(src='/js/app/exam/examCtrl.js')
script(src='/js/app/book/bookCtrl.js')
script(src='/js/app/instrument/instrumentCtrl.js')
